<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(50,50), class: "rounded-circle border"; %></td>
        <td>
          <%= link_to user_path(user), class: "text-dark" do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= render "relationships/btn", user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>