<div class="container w-50 mx-auto">
  <h2 class="text-center pt-2">フォロー中</h2>
  <% if @users.exists? %>
    <%= render 'follow_list', users: @users %>
  <% else %>
    <p class="text-center">ユーザーはいません</p>
  <% end %>
</div>
